<h1>Home#index</h1>

  <%= link_to root_path, class: 'btn btn-success' do %>
    Homepage
  <% end %>

  <%= link_to courses_path, class: 'btn btn-success' do %>
	  <div class="fa fa-book"></div>
	  Course
  <% end %>
