<h1>Home#index</h1>


    <div class="fa fa-flag"></div><p>Find me in app/views/home/index.html.erb</p>
     
    <%= link_to root_path, class: 'btn btn-success' do %>
      <div class="fa fa-flag"></div>
      Homepage
    <% end %>

    <i class="fab fa-twitter fa-2x"></i>
